@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

#logo {
    /* font-size: 2em; */
    width: 100px;
    height: 100px;
    margin-right: 200px; 
   
}

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover, .navigation a.active {
    background-color: #359381;
    color: white;
}

/* .navigation button {
    padding: 6px 15px;
    color: #359381;
    font-weight: 600;
} */

.home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



#text {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596) ;
    /* z-index: 1; */
}

.home img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    background-color: #0e9479;
    padding: 100px;
}

.sec h2{
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    text-align: center;    
}

.sec p {
    font-size: 1rem;
    color:#fff ;
    font-weight: 300;
    position: relative;
    overflow-x: clip;
}

.content-section {
    text-align: center;
    padding: 50px;
}

footer {
    position: relative;
    background: #0e9479;
}